!!!
%html
  %head
    %title LocationsApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    / include Google Maps JS for gmaps4rails gem display
    = javascript_include_tag "https://maps.google.com/maps/api/js?v=3.23&key=#{ENV['GOOGLE_LOCATION_API_KEY']}"
    = javascript_include_tag "https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
    -# / only if you need custom infoboxes
    -# = javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    = yield
